/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable color-no-hex */
/* stylelint-disable plugin/selector-bem-pattern */
/* stylelint-disable declaration-property-value-disallowed-list */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Custom global classes */
}

/* Global Variables */
@layer base {
    :root {
        /* Colors */
        --color-black: #000;
        --color-dark: #0d1c2e;
        --color-blue: #2a8bf2;
        --color-pink: #ff3366;
        --color-gray: #707c97;
        --color-white-100: #fff;
        --color-white-200: #fafbff;
        --color-white-300: #e6ecfe;
  
        /* Gradients */
        --blue-start: #7cb8f7;
        --blue-end: #2a8bf2;
    }

    ::-webkit-scrollbar {
        width: 14px;
        height: 18px;
    }
    ::-webkit-scrollbar-thumb {
        height: 6px;
        border: 4px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        -webkit-border-radius: 7px;
        background-color: rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    }
    ::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
    }
    ::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

* {
    box-sizing: border-box;
}
