/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable color-no-hex */
/* stylelint-disable plugin/selector-bem-pattern */
/* stylelint-disable declaration-property-value-disallowed-list */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Custom global classes */
}

/* Global Variables */
@layer base {
    :root {
        /* Colors */
        --color-black: #000;
        --color-dark: #0d1c2e;
        --color-blue: #2a8bf2;
        --color-pink: #ff3366;
        --color-gray: #707c97;
        --color-white-100: #fff;
        --color-white-200: #fafbff;
        --color-white-300: #e6ecfe;
  
        /* Gradients */
        --blue-start: #7cb8f7;
        --blue-end: #2a8bf2;
    }

    ::-webkit-scrollbar {
        width: 8px;               /* width of the entire scrollbar */
    }
      
      
    ::-webkit-scrollbar-thumb {
        background-color: #929292;    /* color of the scroll thumb */
        border-radius: 50px; /* creates padding around scroll thumb */
      }
}

* {
    box-sizing: border-box;
}
